<div class="row">
    <div class="col-12 col-lg-4,col-md-4,col-sm-12">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" class="img">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
    </div>
  <div class="col-12 col-lg-4,col-md-4,col-sm-12">
    <div class="card">
        <img src="./../../../../assets//img/avatar/jeans3.jpg" alt="Denim Jeans" style="width:100%">
      <div class="product-card">
          <h3>Tailored Jeans</h3>
          <p class="price">$19.99</p>
          <p class="product-card-text">Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
          <p class="product-card-text">Estimated Delivery : 29/9/2017</p>
          <p class="product-card-rating">Rating - <i class="fa fa-star strIcon" aria-hidden="true"></i>
            <i class="fa fa-star strIcon" aria-hidden="true"></i>
            <i class="fa fa-star strIcon" aria-hidden="true"></i>
            <i class="fa fa-star strIcon" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true" style="color:grey"></i>
          </p>
        </div>
          <p style="margin-bottom: 0px"><button>Add to Cart</button></p> 
    </div>
  </div>
  <div class="col-12 col-lg-4,col-md-4,col-sm-12">
          <div class="example-1 card1">
            <div class="wrapper">
              <div class="date">
                <span class="day">12</span>
                <span class="month">Aug</span>
                <span class="year">2016</span>
              </div>
              <div class="data">
                <div class="content">
                  <span class="author">Jane Doe</span>
                  <h1 class="title"><a href="#">Boxing icon has the will for a couple more fights</a></h1>
                  <p class="text">The highly anticipated world championship fight will take place at 10am and is the second major boxing blockbuster in the nation after 43 years.</p>
                  <label for="show-menu" class="menu-button"><span></span></label>
                </div>
                <input type="checkbox" id="show-menu" />
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fa fa-bookmark-o"></a>
                  </li>
                  <li><a href="#" class="fa fa-heart-o"><span>47</span></a></li>
                  <li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- <div class="example-2 card1" >
            <div class="wrapper">
              <div class="header">
                <div class="date">
                  <span class="day">12</span>
                  <span class="month">Aug</span>
                  <span class="year">2016</span>
                </div>
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fa fa-bookmark-o"></a>
                  </li>
                  <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                  <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                </ul>
              </div>
              <div class="data">
                <div class="content">
                  <span class="author">Jane Doe</span>
                  <h1 class="title"><a href="#">Stranger Things: The sound of the Upside Down</a></h1>
                  <p class="text">The antsy bingers of Netflix will eagerly anticipate the digital release of the Survive soundtrack, out today.</p>
                  <a href="#" class="button">Read more</a>
                </div>
              </div>
            </div>
          </div> -->
        </div>
  </div>

<div class="row">
    <div class="col-12 col-lg-4,col-md-4,col-sm-12">
        <div class="card">
          <img src="./../../../../assets//img/avatar/profile.jpg" alt="John" style="width:100%">
          <div class="card-container">
            <div class="card-content">
                <h3>John Doe</h3>
                <p class="title">CEO & Founder, Example</p>
                <p>Harvard University</p>
                <div style="margin: 24px 0;padding: 0px 65px;">
                  <a href="#"><i class="fa fa-dribbble"></i></a> 
                  <a href="#"><i class="fa fa-twitter"></i></a>  
                  <a href="#"><i class="fa fa-linkedin"></i></a>  
                  <a href="#"><i class="fa fa-facebook"></i></a> 
                </div>
            </div>
    
              <p style="margin: 0;"><button>Contact</button></p>
          </div>
    
        </div>
      </div>
  <div class="col-12 col-lg-4,col-md-4,col-sm-12">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="./../../../../assets//img/avatar/img_avatar2.png" alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
          <h3>John Doe</h3> 
          <p>Architect & Engineer</p> 
          <p>We love that guy</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-3,col-md-3,col-sm-12">
      <div class="card" style="width: 91%;">
        <img src="./../../../../assets//img/avatar/img_avatar2.png" alt="Avatar" style="width:100%">
        <div class="container">
          <h5 style="text-align: center"><b>Jane Doe</b></h5> 
          <p style="text-align: center">Interior Designer</p> 
        </div>
      </div>
    </div>
</div>