ul{
    list-style: none;
    padding: 0px;
}
li{
    border-bottom: 1px solid #edf1f7;
    color: #1a2138;
    font-family: Open Sans,sans-serif;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.25rem;
    padding: 1rem;
}
li:first-child{
    border-top: 1px solid #edf1f7;
}
.mat-card-content{
    padding: 0px !important;
}
.main{
    display: inline;
}
.imgDiv{
    display: inline;
    border: 1px solid #edf1f7;
    padding: 0.9rem;
    font-size: 0.8rem;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    margin: 0rem 1rem 0.5rem 0rem;
}
.nameDiv{
    display: inline;
}